*, *:before, *:after {
	margin: 0px; 
	box-sizing: border-box;
}

.text {
  background: rgb(255,143,0);
  background: linear-gradient(90deg, rgba(255,143,0,1) 0%, rgba(124,0,74,1) 100%);

  width: 100%;
  min-height: 100vh;

	display: flex;
  justify-content: space-between;
	align-items: center;
	flex-direction: column;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 55px;
  padding-bottom: 35px;
}


.commingsoon {
  font-family: Montserrat-Black;
  font-size: 50px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: center;
}

.slogan {
  font-family: Montserrat-Light;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  padding-bottom: 60px;
  text-align: center;
}

.footer {
  text-align: center;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #cccccc;
  line-height: 1.4;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Light;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf'); 
}

@font-face {
  font-family: Montserrat-Black;
  src: url('../fonts/Montserrat/Montserrat-Black.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf'); 
}